<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.oa.dao.InviteMapper">
	<resultMap id="BaseResultMap" type="com.dy.oa.pojo.Invite">
		<id column="id" property="id" jdbcType="INTEGER" />
		<association property="organize" column="organize_id"
			javaType="invite" select="com.dy.oa.dao.OrganizeMapper.selectByPrimaryKey" />
		<association property="user" column="user_id"
			javaType="invite" select="com.dy.oa.dao.UserMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, organize_id
	</sql>
	<sql id="query_invite_update">
		<if test="user!=null">
			user_id = #{user.id},
		</if>
		<if test="organize!=null">
			organize_id = #{organize.id},
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from invite
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByUserId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from invite
		where user_id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from invite
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByUserId" parameterType="java.lang.Integer">
		delete from invite
		where user_id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dy.oa.pojo.Invite">
		insert into invite (id, user_id,
		organize_id
		)
		values (#{id,jdbcType=INTEGER},
		#{user.id,jdbcType=VARCHAR},
		#{organize.id,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.dy.oa.pojo.Invite">
		update invite
		<set>
			<include refid="query_invite_update" />
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>