<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.oa.dao.OrganizeMapper">
	<resultMap id="BaseResultMap" type="com.dy.oa.pojo.Organize">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, description, code
	</sql>
	<sql id="query_organize_update">
		<if test="code!=null">
			code = #{code},
		</if>
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="description!=null">
			description = #{description},
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from organize
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="String">
		select
		<include refid="Base_Column_List" />
		from organize
		where name = #{name}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from organize
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dy.oa.pojo.Organize">
		insert into organize (id, name, description,
		code)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.dy.oa.pojo.Organize">
		update organize
		<set>
			<include refid="query_organize_update" />
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>