<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.oa.dao.PowerMapper">
	<resultMap id="BaseResultMap" type="com.dy.oa.pojo.Power">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, description
	</sql>
	<sql id="query_power_update">
		<if test="code!=null">
			code = #{code},
		</if>
		<if test="description!=null">
			description = #{description},
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from power
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from power
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from power
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dy.oa.pojo.Power">
		insert into power (id, code,
		description
		)
		values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}
		)
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.dy.oa.pojo.Power">
		update power
		<set>
			<include refid="query_power_update" />
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>