<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.oa.dao.RequestTypeMapper">
	<resultMap id="BaseResultMap" type="com.dy.oa.pojo.RequestType">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, description
	</sql>
	<sql id="query_requestType_update">
		<if test="code!=null">
			code = #{code},
		</if>
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="description!=null">
			description = #{description},
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from request_type
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from request_type
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dy.oa.pojo.RequestType">
		insert into request_type (id, code, name,
		description)
		values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.dy.oa.pojo.RequestType">
		update request_type
		<set>
			<include refid="query_requestType_update" />
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>