<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dy.oa.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.dy.oa.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<association property="organize" column="organize_id" javaType="user"
			select="com.dy.oa.dao.OrganizeMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, username, password, gender, tel, organize_id
	</sql>
	<sql id="query_user_update">
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="username!=null">
			username = #{username},
		</if>
		<if test="password!=null">
			password = #{password},
		</if>
		<if test="gender!=null">
			gender = #{gender},
		</if>
		<if test="tel!=null">
			tel = #{tel},
		</if>
		<if test="organize!=null">
			organize_id = #{organize.id},
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="getUserByUserName" resultMap="BaseResultMap" parameterType="String">
		select * from user where username = #{username}
	</select>
	<select id="getUserLikeUserName" resultMap="BaseResultMap" parameterType="String">
		select * from user where username like concat(concat('%',#{username}),'%') and (organize_id = 0 or organize_id is null)
	</select>
	<select id="getUserByOrganizeId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select * from user where organize_id = #{id}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.dy.oa.pojo.User">
		insert into user (id, name,
		username,
		password, gender, tel, organize_id)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{organize.id})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.dy.oa.pojo.User">
		update user
		<set>
			<include refid="query_user_update" />
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>